---
interface Props {
	title: string;
}
import ViewTransitions from 'astro/components/ViewTransitions.astro';
import { fade } from 'astro:transitions';
const { title } = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/genericstyles.css" />
		<title>{title}</title>
		<ViewTransitions/>
	</head>
	<body>
		<header transition:persist>
			<a href="#">
				<h1>Smart Ticket</h1>
			</a>
			<div>
				<a href="index.html" id="closeSesion">Cerrar Sesión</a>]
			</div>
		</header>
		<slot transition:animate={fade({ duration: '0.4s' })}/>
	</body>
</html>
<script is:inline>
	const closeSesion = document.getElementById('closeSesion');
	let userId = localStorage.getItem('IdUsuario');
	if (userId) {
		closeSesion.style.visibility = 'visible';
	}
	else {
		closeSesion.style.visibility = 'hidden';
	}
	closeSesion.addEventListener('click', () => {
		localStorage.removeItem('token');
		localStorage.removeItem('IdUsuario');
		window.location.href = '/Index';
	});
</script>
<style is:global>
	
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	header {
		display: flex;
		justify-content: space-between;
	}
</style>
